.App {
    text-align: center;
}
 
.light {
    color: #624F82;
    background-color: #F6FDC3;
}
.dark {
    color: #F6FDC3;
    background-color: #624F82;
}
 
button {
    font-size: large;
    margin: 2%;
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 10px;
}